node_modules/
.next/
.next-local/
tmp/
coverage/
.cache-playwright/
.tmp-jest/
.tmp-playwright/
playwright-report/
test-results.json
test-results/
tests/e2e/.auth/
tests/results/
performance-reports/
