
# Tests
reports/
results/
performance-benchmark/
coverage/
temp/
*.log
test-results/
user-journey-reports/
playwright-report/
e2e/results/
node_modules/

# Environment de test
.env.test.local
*.env

# Cache
.cache/
.nyc_output/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
